* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 300;
    background-repeat: no-repeat !important;
}
*::-webkit-scrollbar {
    display: none;
}

input, button, label, textarea, select {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    transition: border-bottom 0.2s;
}

textarea {
    height: 100%;
    padding: 5px;
    resize: none;
}

button {
    width: fit-content;
    font-size: 120%;
    font-weight: 500;
    border: none;
    margin-right: 10px;
}
button:hover {
    cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(20,20,20) inset;
    box-shadow: 0 0 0px 1000px rgb(20,20,20) inset;
}

h1 {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}
h2 {
    opacity: 0.5;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    -webkit-mask: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));
    mask: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));
}
h3 {
    font-size: 20px;
    font-weight: 700;
}
h4 {
    font-size: 20px;
    font-weight: 500;
}

.App {
    height: 100vh;
    width: 100%;
}

.logoContainer {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2000;
    height: 53px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menuContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    transition: opacity 0.2s;
}

.menuIconsContainer {
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.menuIcon {
    height: 35px;
    width: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 0.25;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.menuIcon:hover {
    cursor: pointer;
}
#icon_0 {
    background-size: contain;
}
#icon_1 {
    background-size: contain;
}
#icon_2 {
    background-size: contain;
}

.menuContent {
    height: 100%;
    width: 60%;
    padding-top: 40px;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.discoverContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.searchContainer {
    width: 100%;
    padding-bottom: 10px;
}
.searchContainer input {
    font-size: 20px;
    margin-bottom: 10px;
}
.tendencyContainer {
    aspect-ratio: 2/1;
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
}
.tendencyCover {
    height: 100%;
    width: 100%;
    z-index: 12;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    transition: background-color 0.2s;
}
.tendencyCover:hover {
    cursor: pointer;
}
.tendencyCover.selected {
    background: none;
}
.tendencyContainer h2 {
    white-space: nowrap;
    font-size: 30px;
}
.resultsContainer{
    display: flex;
    flex-direction: column-reverse;
}
.results {
    aspect-ratio: 2/1;
    height: 100%;
    width: 100%;
    position: relative;
}
.result {
    aspect-ratio: 1/1;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
}
.result:nth-child(1) {
    z-index: 10;
    position: absolute;
    left: 0%;
}
.result:nth-child(2) {
    z-index: 8;
    position: absolute;
    left: 25%;
}
.result:nth-child(3) {
    z-index: 6;
    position: absolute;
    left: 43.75%;
}
.result:nth-child(4) {
    z-index: 4;
    position: absolute;
    left: 50%;
}

.profileContainer.own {
    aspect-ratio: 2/1;
    width: 100%;
}
.userInfo.own {
    padding: 5px;
}

.searchResultsHeader {
    height: 10vh;
    width: 100%;
    position: absolute;
    padding: 10px;
    z-index: 2000;
}

#carouselsContainer {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.carouselContainer {
    scroll-snap-align: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    transition: opacity 0.2s;
}
.panelContainer {
    aspect-ratio: 1/1;
    scroll-snap-align: start;
    height: 100%;
    flex-shrink: 0;
}
.panelAContainer {
    background-position: center !important;
    background-size: cover !important;
}
.panelACover {
    height: 100%;
    width: 100%;
    background-color: rgba(180, 180, 180, 0.5);
    transition: opacity 0.2s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.panelACover:hover {
    cursor: pointer;
}
.badge {
    height: 100%;
    padding: 20px;
    position: relative;
}
.badge h2 {
    font-size: 100px;
}
.addFavorite {
    height: 100px;
    width: 100px;
    background: url("./img/dark_mode/favorite.png");
    background-position: center !important;
    background-size: contain !important;
    opacity: 0.5;
    margin-top: 40px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.addFavorite:hover {
    cursor: pointer;
}
.addFavorite.selected {
    background: url("./img/dark_mode/favorite_selected.png");
    opacity: 1;
}
.panelBContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.detailPicsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.detailPic {
    aspect-ratio: 1/1;
    height: 25%;
    flex-shrink: 0;
    background-position: center !important;
    background-size: cover !important;
}
.detailPic:hover {
    cursor: pointer;
}
.zoomedPic {
    aspect-ratio: 1/1;
    position: absolute;
    height: 100%;
    display: none;
    background-position: center !important;
    background-size: cover !important;
    opacity: 0;
    transition: opacity 0.2s;
}
.zoomedPic:hover {
    cursor: pointer;
}
.projectMemoir {
    height: 100%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.projectMemoir p {
    padding: 10px;
    font-style: italic;
    color: silver;
    line-height: 200%;
}
.projectMemoir p b {
    color: white;
    font-size: 200%;
}
.ghostDiv {
    height: 100%;
    scroll-snap-align: end;
    flex-shrink: 0;
}

.portfolioContainer {
    aspect-ratio: 1/1;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.profileContainer {
    height: 50%;
    width: 100vh;
    display: flex;
    scroll-snap-align: center;
}
.profilePic {
    aspect-ratio: 1/1;
    height: 100%;
    background-color: rgba(255,255,255,0.25);
    background-size: cover;
}
.userInfo {
    height: 100%;
    width: 50%;
    position: relative;
    padding: 10px;
    text-transform: capitalize;
}
.userLocation {
    position: absolute;
    bottom: 10px;
}

.projectContainer {
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    margin-top: 10px;
    padding: 5px;
    background-position: center !important;
    background-size: cover !important;
}
.projectContainer h2 {
    font-size: 30px;
}
.projectContainer button {
    opacity: 0.75;
}
.editButton {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.addProjectContainer {
    position: relative;
    display: flex;
    background-position: center !important;
    background-size: cover !important;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.addProjectContent {
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    scroll-snap-align: center;
}
.addProject1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center !important;
    background-size: 50% !important;
    padding: 5px;
}
.addProject1:hover {
    cursor: pointer;
}
.addProject1.reload {
    background-image: url("./img/dark_mode/refresh.png");
}
.addProject1.reload h2, .addProject1.reload p {
    display: none;
}
.addProject2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.addProject3 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.addProjectTitle {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.addProjectContent p, .addProjectContent span {
    text-align: center;
}
.addNewProjectPicturesDisplayContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}
.addNewProjectPicturesDisplay {
    aspect-ratio: 1/1;
    height: 25%;
    flex-shrink: 0;
    background-position: center !important;
    background-size: cover !important;
}
.addNewProjectPicturesDisplay:hover {
    cursor: pointer;
}
.addNewProjectPicture {
    background-position: center !important;
    background-size: 50% !important;
}
.addNewProjectPicture:hover {
    cursor: pointer;
}
.loadingIcon {
    height: 25px;
    width: 25px;
    background: url("./img/dark_mode/loading.gif");
    background-position: center !important;
    background-size: 300% !important;
}
.formFooter {
    height: 100%;
    position: absolute;
    left: 5px;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formFooter button {
    margin-top: 0 !important;
    margin-bottom: 5px;
}
.submitFooter {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 5px;
    z-index: 1000;
}
.submitCover {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.configProfilePic {
    aspect-ratio: 1/1;
    width: 100%;
    background-color: rgba(255,255,255,0.25);
    background-size: cover;
    margin-bottom: 20px;
}
.configProfilePic:hover {
    cursor: pointer;
}
.configProfilePic.loading {
    background-image: url("./img/dark_mode/loading.gif");
    background-position: center !important;
    background-size: 50% !important;
}
.discoverContainer input, .configContainer input, .configContainer select, .configContainer button, .userContainer input, .userContainer button, .userContainer textarea {
    margin-top: 30px;
}

.helpLink {
    margin-top: 20px;
}
.helpLink:hover {
    cursor: pointer;
}
.helpAlert {
    font-weight: 500;
    margin-top: 20px;
}


@media (max-aspect-ratio: 3/2) and (min-aspect-ratio: 1/1) {
    .menuContainer {
        width: 30%;
    }

    .profileContainer.own {
        aspect-ratio: 1/1;
        width: 100%;
        flex-direction: column;
    }
    .profilePic.own {
        width: 100%;
    }
    .userInfo.own {
        height: 100%;
        width: 100%;
    }
}

@media (max-aspect-ratio: 1/1) {
    * {
        font-size: 32px;
    }
    h1 {
        font-size: 50px;
        margin-bottom: 40px;
    }
    h3 {
        font-size: 40px;
    }
    h4 {
        font-size: 40px;
    }

    .logoContainer {
        top: 20px;
        height: 120px;
        width: 90px;
    }

    #carouselsContainer {
        padding-top: 25vh;
        padding-bottom: 25vh;
    }

    .menuContainer {
        z-index: -1000;
        opacity: 0;
        width: 100%;
        background: none;
        overflow-x: hidden;
    }
    .menuContainer.opened {
        z-index: 1000;
        opacity: 1;
    }

    .menuIconsContainer {
        width: 120px;
    }
    .menuIcon {
        height: 70px;
        width: 70px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .menuContent {
        width: 80%;
    }

    .searchContainer input {
        font-size: 50px;
    }

    .tendencyContainer h2 {
        font-size: 60px;
    }

    .addProjectTitle {
        font-size: 64px;
        font-weight: 700;
    }

    .projectContainer h2 {
        font-size: 60px;
    }

    .loadingIcon {
        height: 50px;
        width: 50px;
    }

    .carouselContainer {
        height: 100vw;
        opacity: 0.25;
    }

    .profileContainer {
        width: 100%;
    }

    .discoverContainer input, .configContainer input, .configContainer select, .configContainer button, .userContainer input, .userContainer button, .userContainer textarea {
        margin-top: 60px;
    }

    .helpLink {
        margin-top: 40px;
    }
}