* {
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(20,20,20) inset;
    box-shadow: 0 0 0px 1000px rgb(20,20,20) inset;
}

::placeholder {
    color: silver;
}

input, label, select {
    border-bottom: 4px solid gray;
}
textarea {
    border-left: 4px solid gray;
}

button {
    color: #f7e7ce;
}

input:focus, select:focus {
    border-bottom: 4px solid #f7e7ce;
}
textarea:focus {
    border-left: 4px solid #f7e7ce;
}

.logoContainer {
    background-image: url("./img/dark_mode/Logo.png");
}

.menuContainer {
    background: linear-gradient(
        to left,
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.738) 59.5%,
        hsla(0, 0%, 0%, 0.541) 67%,
        hsla(0, 0%, 0%, 0.382) 73.5%,
        hsla(0, 0%, 0%, 0.278) 78.25%,
        hsla(0, 0%, 0%, 0.194) 82.5%,
        hsla(0, 0%, 0%, 0.126) 86.5%,
        hsla(0, 0%, 0%, 0.075) 90.1%,
        hsla(0, 0%, 0%, 0.042) 93.05%,
        hsla(0, 0%, 0%, 0.021) 95.5%,
        hsla(0, 0%, 0%, 0.008) 97.6%,
        hsla(0, 0%, 0%, 0.002) 99.1%,
        hsla(0, 0%, 0%, 0) 100%
    );
}

.menuIconsContainer {
    background-color: rgba(0, 0, 0, 1);
}

#icon_0 {
    background-image: url("./img/dark_mode/globe.png");
}
#icon_0.selected {
    background-image: url("./img/dark_mode/globe_selected.png");
}
#icon_1 {
    background-image: url("./img/dark_mode/user.png");
}
#icon_1.selected {
    background-image: url("./img/dark_mode/user_selected.png");
}
#icon_2 {
    background-image: url("./img/dark_mode/config.png");
}
#icon_2.selected {
    background-image: url("./img/dark_mode/config_selected.png");
}

.tendencyCover {
    background-color: rgba(0, 0, 0, 0.5);
}

.tendencyCover:hover {
    background-color: rgba(0, 0, 0, 0);
}

.addProjectContent {
    background-color: rgba(0, 0, 0, 0.75);
}
.addProject1 {
    background: url("./img/dark_mode/plus.png");
    background-color: rgba(0, 0, 0, 0.75);
}
.addProjectContent p {
    color: gray;
}
.addNewProjectPicturesDisplay {
    background-color: black;
}
.addNewProjectPicture {
    background: url("./img/dark_mode/plus.png");
    background-color: rgba(0, 0, 0, 0.75);
}

#carouselsContainer {
    background-color: black;
}

.panelBContainer {
    background-color: black;
}

.userInfo {
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-aspect-ratio: 1/1) {
    .menuContainer {
        background: rgba(0, 0, 0, 0.75);
    }
}