* {
    color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px rgb(235,235,235) inset;
    box-shadow: 0 0 0px 1000px rgb(235,235,235) inset;
}

::placeholder {
    color: silver;
}

.logoContainer {
    background-image: url("./img/light_mode/Logo.png");
}

.menuContainer {
    background: linear-gradient(
        to left,
        hsl(0, 100%, 100%) 0%,
        hsla(0, 100%, 100%, 0.738) 59.5%,
        hsla(0, 100%, 100%, 0.541) 67%,
        hsla(0, 100%, 100%, 0.382) 73.5%,
        hsla(0, 100%, 100%, 0.278) 78.25%,
        hsla(0, 100%, 100%, 0.194) 82.5%,
        hsla(0, 100%, 100%, 0.126) 86.5%,
        hsla(0, 100%, 100%, 0.075) 90.1%,
        hsla(0, 100%, 100%, 0.042) 93.05%,
        hsla(0, 100%, 100%, 0.021) 95.5%,
        hsla(0, 100%, 100%, 0.008) 97.6%,
        hsla(0, 100%, 100%, 0.002) 99.1%,
        hsla(0, 100%, 100%, 0) 100%
    );
}

.menuIconsContainer {
    background-color: rgba(255, 255, 255, 1);
}

#icon_0 {
    background-image: url("./img/light_mode/globe.png");
}
#icon_1 {
    background-image: url("./img/light_mode/user.png");
}
#icon_2 {
    background-image: url("./img/light_mode/config.png");
}

.tendencyCover {
    background-color: rgba(255, 255, 255, 0.5);
}

.tendencyCover:hover {
    background-color: rgba(255, 255, 255, 0);
}

#carouselsContainer {
    background-color: white;
}

.panelBContainer {
    background-color: white;
}

@media (max-aspect-ratio: 1/1) {
    .menuContainer {
        background-color: rgba(255, 255, 255, 0.5);
    }
}